.button-style {
    background: #3498db;
    border: 1px solid white;
    font-weight: 900;
    color: white;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 10%;
}

.button-style:hover {
    cursor: pointer;
}

.grid-css {
    height: 400px;
    width: 60%;
    margin-left: 20%;
}